/* ---------------------------------- */
/* HEADER */
.main-header {
    width:95%;
    max-width: 1920px;
    /* height: 8rem; */
    margin:0 auto;
    margin-top:5rem;
    align-items: center;
    justify-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
    row-gap: 30px;

}

.main-header a {
    text-decoration:none;
    font-size:16px;
}

.main-nav{
    justify-self: end;
    display:flex;
    justify-content: flex-end;
    gap:30px;
    margin-right:20px;
    margin-left:20px;
    flex:1 1 auto;
}

.logo {
    /* width: 294px; */
    flex:0 0 auto;
    width: 29rem;

}
.main-nav .nav-item{
    color:black;
}

.nav-item>i{
    font-size:16px;
    vertical-align: bottom;
    margin:0 4px;
}

.sign-up{
    color:#E77824;
    font-weight:bold;
    flex: 0 0  auto;
}

.hamburger{
    display:none;
    min-width:200px;
    font-size: 25px;
}

.hamburger a {
    font-size: 20px;
    color:black;
}

.hamburger a::after{
    font-family: 'Archivo', sans-serif;
    display: inline-block;
    font-weight: normal;
    margin-left: 10px;
    vertical-align: middle;
    content:'Menu';
    font-size:20px;
    vertical-align: middle;
}

/* ************************************************************** */
/* *************************** MEDIA **************************** */
/* ************************************************************** */
@media (max-width:800px){
    .hamburger{display:flex; align-self:center;}
    .desktop-menu{display:none;}

    .main-header{align-items: start; height:15rem;}
    section.hero {margin-top: 3rem;}

    
}

@media (max-width:557px) {
    .main-header{
        flex-direction: column;
        flex-wrap:nowrap;
        align-items: center;
    }

    .hamburger{
        position: absolute;
        top: 20px;
        right:20px;
    }
}